.header {
    display: flex;
    justify-content: space-between;
}
.headerDentro {
    display: flex;
    align-items: center;
    width: 35vw;
    justify-content: space-around;
    margin-right: 5vw;
}

.intro {
    background-color: rgb(217, 217, 217);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
    height: 70px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.produtos {
    display: flex;
    justify-content: space-around;
}

.tituloSorvete {
    position: relative;
    /* background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%); */
    line-height: 30px;
    color: #E5E5E5;
}

.gradiente {
    position: absolute;
    bottom: 10px;
    left: 0;
     background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
     line-height: 30px;
     color: #E5E5E5;
     /* display: block; */
     width: 240px;
     height: 50px;
}

.psorvete {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: #E5E5E5;
    font-size: 23px;
}

.horarios {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
}

.iconesFooter {
    display: grid;
}

.footer {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 10px;
}

.copyright {
    text-align: center;
}