.foto_txt_grande {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 40px;
}


.titulo_txt {
    padding-left: 30px;
    padding-right: 20px;
}

.foto_txt_pequeno1 {
    display: flex;
    padding-left: 40px;
    padding-right: 20px;

}

.foto_txt_pequeno2 {
    display: flex;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
}

.txt_dps {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
}

.txtimg1,
.txtimg2,
.txtimg3,
.txtimg4 {
    display: flex;
}

.txt {
    padding-left: 20px;
    padding-right: 40px;
}
.blog {
    text-align: center;
}